Repository NervJS/taro, pull requests merged in 2019-09, with the labels that each got.

#3970 fix(docs): react native 端的 moduleName
  docs/react-native.md
Labels: React Native

#4351 修复RN环境下，子页面的navigationOptions无法覆盖默认headerTitle的问题
  packages/taro-router-rn/src/getWrappedScreen.js
Labels: React Native

#4352 在RN中的tabbar中，app.js中配置的第一个page应是默认打开的tab
  packages/taro-router-rn/src/initRouter.js
Labels: React Native

#4366 fix(mobx): 生命周期 getDerivedStateFromProps 不被触发问题修复
  packages/taro-mobx-common/src/index.js
  packages/taro-mobx-common/src/utils.js
  packages/taro-mobx-h5/src/index.js
  packages/taro-mobx-h5/src/observer.js
  packages/taro-mobx-rn/src/index.js
  packages/taro-mobx-rn/src/observer.js
  packages/taro-mobx/src/index.js
  packages/taro-mobx/src/inject.js
  packages/taro-mobx/src/observer.js
  packages/taro-mobx/types/index.d.ts
Labels: mobx

#4414 增加Taro组件和快应用组件的差异对比，指导开发者适配快应用端的开发流程
  docs/quick-app.md
Labels: docs

#4407 fix(video) this.progressBallRef is undefined
  packages/taro-components/src/components/video/controls.js
Labels: H5 组件库
