Repository NervJS/taro, pull requests merged in 2022-01, with the labels that each got.

#11012 fix(h5): input在与父级一起插入dom时 focus 不起作用
  packages/taro-components/src/components/input/input.tsx
Labels: A-components, V-3, T-h5

#11047 fix(types): 事件回调类型 fix #10954
  packages/taro/types/api/base/weapp/app-event.d.ts
Labels: A-typings

#11024 feat: add weapp `GetUserProfile` types api
  lerna.json
  packages/shared/src/native-apis.ts
  packages/taro-components-react/yarn.lock
  packages/taro-components/types/Button.d.ts
  packages/taro-mini-runner/src/__tests__/__snapshots__/babel.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/common-style.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/config.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/css-modules.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/custom-tabbar.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/nerv.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/parse-html.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/prerender.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/qq.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/react.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/sass.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/subpackages.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/tabbar.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/ts.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/vue.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/vue3.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/wx-hybrid.spec.ts.snap
  packages/taro-plugin-mini-ci/yarn.lock
  packages/taro-weapp/src/apis-list.ts
Labels: question, V-3

#11140 fix(h5): router relative-path
  packages/taro-router/src/api.ts
Labels: A-router, T-h5

#11161 fix(babel): skip env check for h5 test
  packages/babel-preset-taro/index.js
Labels: A-babel, T-h5

#11179 fix(runtime): 删除冗余代码
  packages/taro-runtime/src/polyfill/reflect-metadata.js
Labels: A-runtime, V-3

#11183 fix(vue-devtools/service): 修复 vue devtools 失效的问题，fix #11095
  packages/taro-plugin-vue-devtools/src/index.ts
  packages/taro-service/package.json
  packages/taro-service/src/Config.ts
Labels: V-3

#11184 fix(h5):修复canvas中measureText调用错误
  packages/taro-h5/src/api/canvas/CanvasContext.ts
Labels: A-api
