Repository NervJS/taro, pull requests merged in 2023-08, with the labels that each got.

#14278 fix(prebundle): 修复虚拟模块冗余调用 fix #14257
  packages/taro-webpack5-prebundle/src/index.ts
Labels: A-PreBundle

#14293 fix: 修复输入框事件传入的函数不会更新
  packages/taro-components-rn/src/components/Input/index.tsx
Labels: T-rn

#14277 fix(prebundle): 修复多端文件解析在开启 prebundle 功能时报错的问题，fix #14123
  packages/taro-cli/templates/default/package.json.tmpl
  packages/taro-runner-utils/src/resolve/MultiPlatformPlugin.ts
Labels: V-3, A-PreBundle

#14291 fix(advanced): 修复瀑布流普通模式列表数错误问题 fix #14285
  packages/taro-components-advanced/src/components/virtual-waterfall/list-map.ts
Labels: A-components-advanced

#14284 fix(tt): 支持自定义下拉刷新控件，fix #14247
  packages/taro-mini-runner/src/__tests__/__snapshots__/bytedance.spec.ts.snap
  packages/taro-tt/src/components.ts
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/mini-platform.spec.ts.snap
Labels: V-3

#14343 feat(h5): 对齐小程序 connectSocket API 限制 fix #14292
  packages/taro-h5/__tests__/network/websocket.test.ts
  packages/taro-h5/src/api/network/websocket/index.ts
Labels: A-api, T-h5

#14342 fix(h5): 优化 fetch 参数传递 fix #14222
  packages/taro-h5/__tests__/network/request.test.ts
  packages/taro-h5/src/api/network/request/index.ts
  packages/taro/types/api/network/request.d.ts
Labels: A-api, T-h5

#14373 fix(type): remove duplicate declarations
  packages/taro-components-rn/src/components/Block/index.tsx
  packages/taro-components-rn/src/components/SwiperItem/index.tsx
  packages/taro-components-rn/src/components/Text/index.tsx
  packages/taro-components-rn/src/components/Textarea/index.tsx
  packages/taro-components-rn/src/components/WebView/index.tsx
Labels: A-typings, T-rn

#14445 fix(h5): remove useless props
  packages/taro-components-library-react/src/react-component-lib/utils/attachProps.ts
Labels: A-components, T-h5

#14421 fix(doctor): update doctor version
  packages/taro-cli/package.json
  pnpm-lock.yaml
Labels: A-cli

#14459 fix:增加exitFullScreen的实现，适配不同的webkit
  packages/taro-components/src/components/video/video.tsx
Labels: A-components, T-h5
