Repository NervJS/taro, pull requests merged in 2023-02, with the labels that each got.

#13245 feat(h5): 更新 navigator 组件支持参数
  packages/taro-components/src/components/navigator/navigator.tsx
  packages/taro-components/types/Navigator.d.ts
Labels: A-typings, A-components, V-3, T-h5, A-docs

#13230 fix(react): 禁用 react 合成事件抛出 fix #13223
  packages/taro-components-library-react/scripts/fix.js
Labels: A-components, T-h5

#13224 feat: vue support fragment fix
  packages/taro-components-library-vue2/package.json
  packages/taro-components-library-vue2/rollup.config.js
  packages/taro-components-library-vue2/scripts/fix.js
  packages/taro-components-library-vue2/src/index.ts
  packages/taro-components-library-vue3/scripts/fix.js
  pnpm-lock.yaml
Labels: A-components, T-h5

#13302 fix(qq): add declaration of qq api openQzonePublish
  packages/taro/types/api/qq/index.d.ts
  packages/taro/types/taro.api.d.ts
Labels: A-typings

#13311 fix(webpack5): 修复样式文件 import 后静态资源路径错误的问题
  packages/taro-webpack5-runner/src/postcss/postcss.h5.ts
Labels: V-3

#13313 perf(plugin-mini-ci): 控制台预览二维码尺寸过大，不方便扫码
  packages/taro-plugin-mini-ci/src/utils/qrcode.ts
Labels: enhancement

#13305 fix(h5): react 组件适配器 style 属性对齐旧版特性 fix #13293
  package.json
  packages/taro-components-library-react/package.json
  packages/taro-components-library-react/scripts/fix.js
  packages/taro-components-library-react/src/helper.ts
  packages/taro-components-library-vue2/package.json
  packages/taro-components-library-vue3/package.json
  packages/taro-components/package.json
  packages/taro-components/src/components/navigator/navigator.tsx
  packages/taro-components/src/components/navigator/readme.md
  packages/taro-components/src/components/picker/picker-group.tsx
  packages/taro-components/stencil.config.ts
  packages/taro-platform-h5/src/program.ts
  packages/taro-webpack-runner/src/__tests__/__snapshots__/vue.spec.ts.snap
  packages/taro-webpack-runner/src/config/base.conf.ts
  packages/taro-webpack-runner/src/util/chain.ts
  packages/taro-webpack5-runner/src/webpack/H5BaseConfig.ts
  pnpm-lock.yaml
Labels: A-components, T-h5

#13292 fix(h5): custom define-constants fix #13286
  packages/taro-platform-h5/src/index.ts
Labels: T-h5
