Repository NervJS/taro, pull requests merged in 2023-07, with the labels that each got.

#14083 fix(h5): chooseMedia 来源同时包含 album 和 camera 时，二者都会直接打开相机
  packages/taro-h5/src/api/media/video/chooseMedia.ts
Labels: A-api, T-h5

#14141 perf: 插件类型支持泛型定义
  packages/taro/types/compile/config/project.d.ts
Labels: A-typings

#14130 fix(h5): inneraudiocontext destroy
  packages/taro-h5/src/api/media/audio/InnerAudioContext.ts
Labels: A-api, T-h5

#14113 fix(h5): InnerAudioContext和BackgroundAudioManager出现错误时未触发onError
  packages/taro-h5/src/api/media/audio/InnerAudioContext.ts
  packages/taro-h5/src/api/media/background-audio/BackgroundAudioManager.ts
Labels: A-api, T-h5

#14143 feat(types): add tt shims fix #7200
  packages/taro-tt/types/shims-tt.d.ts
Labels: A-typings

#14209 fix(types): update address api
  packages/taro/types/api/open-api/address.d.ts
Labels: A-typings

#13523 feat(jd-plugin): 京东小程序支持插件编译功能
  examples/build-weapp-plugin/src/component/comp.jxml
  examples/build-weapp-plugin/src/component/comp.jxss
  examples/build-weapp-plugin/src/pages/index/index.tsx
  examples/build-weapp-plugin/src/plugin/components/avatar/avatar.tsx
  examples/build-weapp-plugin/src/plugin/pages/list/list.tsx
  packages/taro-cli/src/cli.ts
  packages/taro-cli/src/presets/platforms/plugin.ts
  packages/taro-helper/src/constants.ts
  packages/taro-loader/src/native-page.ts
  packages/taro-mini-runner/src/plugins/MiniPlugin.ts
  packages/taro-plugin-react/src/runtime/connect-native.ts
  packages/taro-runtime/src/dom/custom-wrapper.ts
  packages/taro-runtime/src/dom/document.ts
  packages/taro-runtime/src/dom/element.ts
  packages/taro-runtime/src/dsl/common.ts
  packages/taro-runtime/src/dsl/instance.ts
  packages/taro-runtime/src/index.ts
  packages/taro-webpack5-runner/src/plugins/MiniPlugin.ts
Labels: A-plugin, T-jd

#14230 fix(runtime): 修复 useTabItemTap 不触发的问题，fix #14170
  packages/shared/src/runtime-hooks.ts
  packages/taro-runtime/src/dsl/common.ts
Labels: V-3

#14249 fix(prebundle): 修复 cache 导致的虚拟模块缺失问题 fix #14239
  packages/taro-webpack5-prebundle/src/index.ts
  packages/taro-webpack5-runner/src/__tests__/setup/index.ts
  packages/taro-webpack5-runner/src/index.h5.ts
  packages/taro-webpack5-runner/src/plugins/H5Plugin.ts
Labels: T-h5, A-PreBundle
