Repository NervJS/taro, pull requests merged in 2023-06, with the labels that each got.

#13928 fix(webpack5): 修复 CSS 内静态资源路径 alias 不生效的问题，fix #13906
  packages/taro-webpack5-runner/src/postcss/postcss-alias.ts
  packages/taro-webpack5-runner/src/postcss/postcss.h5.ts
  packages/taro-webpack5-runner/src/postcss/postcss.mini.ts
  packages/taro-webpack5-runner/src/webpack/H5WebpackModule.ts
  packages/taro-webpack5-runner/src/webpack/MiniWebpackModule.ts
Labels: V-3

#13960 fix(h5): custom-wrapper 对齐小程序
  packages/taro-components-library-react/scripts/fix.js
  packages/taro-components-library-vue2/scripts/fix.js
  packages/taro-components-library-vue3/scripts/fix.js
Labels: A-components, T-h5

#13859 feat(h5): support chooseMedia api
  packages/taro-components/src/components/video/video.tsx
  packages/taro-h5/src/api/media/image/chooseImage.ts
  packages/taro-h5/src/api/media/video/chooseMedia.ts
  packages/taro-h5/src/api/media/video/chooseVideo.ts
  packages/taro-h5/src/api/media/video/getVideoInfo.ts
  packages/taro-h5/src/api/media/video/index.ts
  packages/taro-h5/src/api/ui/interaction/index.ts
  packages/taro-h5/src/api/wxml/IntersectionObserver.ts
  packages/taro-h5/src/api/wxml/MediaQueryObserver.ts
  packages/taro/types/api/media/image.d.ts
  packages/taro/types/api/media/video.d.ts
Labels: A-api, T-h5

#13976 fix(MPA): 修复MPA模式下onReady钩子不执行问题
  packages/taro-router/src/router/multi-page.ts
Labels: A-router, T-h5

#13964 feat(router): 支持H5页面滚动方式可配置(全局滚动或局部滚动)
  packages/taro-components/src/global.css
  packages/taro-h5/__mocks__/setEnv.ts
  packages/taro-h5/src/api/ui/interaction/toast.ts
  packages/taro-h5/src/api/ui/scroll/index.ts
  packages/taro-router/src/animation.ts
  packages/taro-router/src/events/scroll.ts
  packages/taro-router/src/router/multi-page.ts
  packages/taro-router/src/router/page.ts
  packages/taro-router/src/router/spa.ts
  packages/taro-router/src/style.ts
  packages/taro/types/taro.config.d.ts
Labels: A-router, T-h5

#13819 feat(h5): 支持 canIUse 方法
  packages/babel-plugin-transform-taroapi/__tests__/__snapshots__/index.spec.ts.snap
  packages/babel-plugin-transform-taroapi/__tests__/index.spec.ts
  packages/babel-plugin-transform-taroapi/jest.config.ts
  packages/babel-plugin-transform-taroapi/package.json
  packages/babel-plugin-transform-taroapi/src/index.ts
  packages/babel-plugin-transform-taroapi/types.d.ts
  packages/babel-preset-taro/package.json
  packages/taro-components/package.json
  packages/taro-components/scripts/tsconfig.json
  packages/taro-components/tsconfig.json
  packages/taro-h5/__tests__/network/request.test.ts
  packages/taro-h5/jest.config.ts
  packages/taro-h5/package.json
  packages/taro-h5/rollup.config.ts
  packages/taro-h5/src/api/base/index.ts
  packages/taro-h5/src/api/base/weapp/app-event.ts
  packages/taro-h5/src/api/canvas/CanvasContext.ts
  packages/taro-h5/src/api/device/accelerometer.ts
  packages/taro-h5/src/api/device/compass.ts
  packages/taro-h5/src/api/device/motion.ts
  packages/taro-h5/src/api/device/network.ts
  packages/taro-h5/src/api/network/request/index.ts
  packages/taro-h5/src/utils/index.ts
  packages/taro-h5/src/utils/lodash.ts
  packages/taro-h5/tsconfig.json
  packages/taro-platform-h5/build/definition-json/index.ts
  packages/taro-platform-h5/build/definition-json/parser.ts
  packages/taro-platform-h5/build/utils/ast.ts
  packages/taro-platform-h5/build/utils/helper.ts
  packages/taro-platform-h5/build/utils/parser.ts
  packages/taro-platform-h5/package.json
  packages/taro-platform-h5/rollup.config.js
  packages/taro-platform-h5/rollup.config.ts
  packages/taro-platform-h5/src/index.ts
  packages/taro-platform-h5/src/program.ts
  packages/taro-platform-h5/src/runtime/apis/index.ts
  packages/taro-platform-h5/tsconfig.json
  packages/taro-platform-h5/types/global.d.ts
  packages/taro/types/api/base/index.d.ts
  packages/taro/types/api/base/weapp/app-event.d.ts
  packages/taro/types/api/network/request.d.ts
  pnpm-lock.yaml
Labels: A-api, T-h5
