Repository NervJS/taro, pull requests merged in 2023-10, with the labels that each got.

#14626 fix(h5): use start time if the value prop of Picker is out of range
  packages/taro-components/src/components/picker/picker.tsx
Labels: A-components, T-h5

#14637 feat: udpate readme
  README.md
Labels: A-docs

#14661 fix(h5): onChange 事件添加 source
  packages/taro-components/src/components/snapshot/readme.md
  packages/taro-components/src/components/swiper/swiper.tsx
Labels: A-components, T-h5

#14673 fix: h5模式下app.config.js中animation：false路由调整问题修复
  packages/taro-router/src/style.ts
Labels: A-router, T-h5

#14679 更新设备相关types
  packages/taro-h5/types/overlay.d.ts
  packages/taro-rn/types/overlay.d.ts
  packages/taro/types/api/device/accelerometer.d.ts
  packages/taro/types/api/device/accessibility.d.ts
  packages/taro/types/api/device/battery.d.ts
  packages/taro/types/api/device/bluetooth-ble.d.ts
  packages/taro/types/api/device/bluetooth-peripheral.d.ts
  packages/taro/types/api/device/bluetooth.d.ts
  packages/taro/types/api/device/calendar.d.ts
  packages/taro/types/api/device/clipboard.d.ts
  packages/taro/types/api/device/compass.d.ts
  packages/taro/types/api/device/gyroscope.d.ts
  packages/taro/types/api/device/iBeacon.d.ts
  packages/taro/types/api/device/keyboard.d.ts
  packages/taro/types/api/device/memory.d.ts
  packages/taro/types/api/device/motion.d.ts
  packages/taro/types/api/device/network.d.ts
  packages/taro/types/api/device/nfc.d.ts
  packages/taro/types/api/device/phone.d.ts
  packages/taro/types/api/device/scan.d.ts
  packages/taro/types/api/device/screen.d.ts
  packages/taro/types/api/device/sms.d.ts
  packages/taro/types/api/device/vibrate.d.ts
  packages/taro/types/api/device/wifi.d.ts
Labels: A-typings

#14607 fix(plugin-inject): 修复 Vue2 使用 componentsMap 配置时报错的问题，#13299 #14520
  packages/taro-plugin-inject/package.json
  packages/taro-plugin-inject/src/index.ts
  pnpm-lock.yaml
Labels: V-3
