Repository NervJS/taro, pull requests merged in 2023-11, with the labels that each got.

#14740 fix(advanced): virtual-waterfall vue props fix #14684
  packages/taro-components-advanced/src/components/virtual-waterfall/vue/waterfall.ts
Labels: A-components-advanced

#14380 fix(webpack5): 修复编译小程序时重复编译 App 和 Page 的问题
  packages/taro-loader/src/app.ts
  packages/taro-loader/src/component.ts
  packages/taro-loader/src/entry-cache.ts
  packages/taro-loader/src/independentPage.ts
  packages/taro-loader/src/native-component.ts
  packages/taro-loader/src/native-page.ts
  packages/taro-loader/src/page.ts
  packages/taro-mini-runner/src/__tests__/__snapshots__/alipay.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/babel.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/bytedance.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/common-style.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/compiler-macros.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/config.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/css-modules.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/custom-tabbar.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/jd.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/parse-html.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/prerender.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/qq.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/react.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/sass.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/subpackages.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/swan.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/tabbar.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/ts.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/vue.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/vue3.spec.ts.snap
  packages/taro-mini-runner/src/__tests__/__snapshots__/wx-hybrid.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/babel.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/compiler-macros.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/config.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/css-modules.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/framework.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/mini-platform.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/parse-html.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/prerender.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/sass.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/subpackages.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/tabbar.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/ts.spec.ts.snap
  packages/taro-webpack5-runner/src/__tests__/__snapshots__/wx-hybrid.spec.ts.snap
Labels: A-loader, V-3

#14779 fix(style): react components style shake
  packages/taro-components-react/package.json
  packages/taro-components-react/rollup.config.js
Labels: A-components, T-h5

#14713 fix(h5): picker-view 默认值无法回显
  packages/taro-components/src/components/picker-view/picker-view-column.tsx
  packages/taro-components/src/components/picker-view/picker-view.tsx
Labels: A-components, T-h5
