Repository NervJS/taro, pull requests merged in 2023-09, with the labels that each got.

#14433 fix(router): 为回退 API 添加数量上限限制
  packages/taro-router/src/api.ts
  packages/taro/types/api/route/index.d.ts
Labels: A-router, A-api, T-h5

#14482 fix(types): 补充组件方法参数 fix #14302
  packages/taro/types/taro.component.d.ts
Labels: A-typings

#14431 fix(h5): 修复 canvas.createPattern 调用错误
  packages/taro-h5/src/api/canvas/CanvasContext.ts
  packages/taro/types/api/canvas/index.d.ts
Labels: A-api, T-h5

#14446 fix(h5): 移除 proxy 写法
  packages/taro-h5/src/api/network/download.ts
  packages/taro-h5/src/api/network/upload.ts
Labels: A-api, T-h5

#14515 fix(components): add image default height & width
  packages/taro-components/src/components/image/style/index.scss
Labels: A-components, T-h5

#14545 feat(h5): handle scroll-view slot-relocation fix 14502
  packages/taro-components/__tests__/view.e2e.ts
  packages/taro-components/scripts/stencil/stencil.config.ts
  packages/taro-components/src/components/scroll-view/scroll-view.tsx
  packages/taro-components/src/components/view/view.tsx
  packages/taro-components/src/utils/helper.ts
Labels: A-components, T-h5

#14552 fix(h5): 修复 canvas 字体设置问题，并更新类型
  packages/taro-h5/src/api/canvas/CanvasContext.ts
  packages/taro/types/api/canvas/index.d.ts
Labels: A-api, T-h5

#14558 fix(h5): swiper loop handle immediately #14487
  packages/taro-components/src/components/swiper/swiper.tsx
Labels: A-components, T-h5

#14581 fix(helper): 修复 config 文件读取问题
  packages/taro-helper/src/__tests__/__mocks__/app.config.ts
  packages/taro-helper/src/esbuild/index.ts
Labels: P-2

#14597 fix(route): normal page max-height fix #14592
  packages/taro-router/src/style.ts
Labels: A-router, T-h5

#14584 Status bar height高度获取错误
  packages/taro-rn-style-transformer/src/utils/index.ts
Labels: T-rn
