Repository NervJS/taro, pull requests merged in 2024-02, with the labels that each got.

#15125 feat(h5): support navigation
  packages/taro-components-react/src/components/pull-down-refresh/index.tsx
  packages/taro-components/scripts/stencil/plugin/diagnostics.ts
  packages/taro-components/src/components/pull-to-refresh/pull-to-refresh.tsx
  packages/taro-h5/src/api/ui/navigation-bar/index.ts
  packages/taro-plugin-react/src/runtime/connect.ts
  packages/taro-router/src/index.ts
  packages/taro-router/src/navigationBar.ts
  packages/taro-router/src/router/mpa.ts
  packages/taro-router/src/router/navigation-bar.ts
  packages/taro-router/src/router/page.ts
  packages/taro-router/src/router/spa.ts
  packages/taro-router/src/style.ts
  packages/taro-router/src/tabbar.ts
  packages/taro-router/src/utils/navigate.ts
Labels: A-router, A-api, T-h5

#14967 fix: 优化路由接口以及修复onResize回调参数缺失的字段
  packages/taro-components/types/PageMeta.d.ts
  packages/taro-router/src/api.ts
  packages/taro-router/src/events/resize.ts
  packages/taro/types/taro.lifecycle.d.ts
Labels: A-router, A-api, T-h5

#14962 fix: 优化actionSheet和modal展示界面
  packages/taro-h5/__tests__/ui/interaction/actionSheet.test.ts
  packages/taro-h5/src/api/ui/interaction/actionSheet.ts
  packages/taro-h5/src/api/ui/interaction/index.ts
  packages/taro-h5/src/api/ui/interaction/modal.ts
Labels: A-api, T-h5

#14961 fix: 修复并优化h5接口
  packages/taro-h5/__tests__/base/index.test.ts
  packages/taro-h5/src/api/base/index.ts
  packages/taro-h5/src/api/device/clipboard.ts
  packages/taro-h5/src/api/device/network.ts
  packages/taro-h5/src/api/network/websocket/index.ts
  packages/taro-h5/src/utils/handler.ts
Labels: T-h5

#15063 修复H5端 Taro.createSelectorQuery设置in(scope)时，报错问题
  packages/taro-plugin-react/src/runtime/connect.ts
Labels: T-h5

#14959 fix: 根据微信小程序接口修改wxml的IntersectionObserver和NodesRef
  packages/taro-h5/src/api/wxml/IntersectionObserver.ts
  packages/taro-h5/src/api/wxml/index.ts
  packages/taro-h5/src/api/wxml/nodesRef.ts
Labels: A-api, T-h5

#14966 fix: 修改动画对象接口使其行为跟微信小程序一致
  packages/taro-h5/__tests__/ui/animation.test.ts
  packages/taro-h5/src/api/ui/animation/index.ts
Labels: A-api, T-h5

#15227 fix(h5): 开启预构建时路由表未与pages同步
  packages/taro-webpack5-runner/src/webpack/BaseConfig.ts
Labels: A-runner, T-h5

#15248 fix(h5): 修复 html 组件库引用
  packages/taro-platform-h5/src/program.ts
  packages/taro-platform-harmony-hybrid/src/program.ts
Labels: A-components, T-h5

#15261 fix(ci): ts-node support node18+
  packages/taro-components/package.json
  packages/taro-components/tsconfig.json
  packages/taro-platform-h5/package.json
  packages/taro-platform-h5/tsconfig.json
  packages/taro-platform-harmony-hybrid/package.json
  packages/taro-platform-harmony-hybrid/tsconfig.json
  pnpm-lock.yaml
Labels: T-h5

#15260 fix(h5): use local-ip host
  packages/taro-webpack5-runner/src/index.h5.ts
Labels: T-h5

#15250 fix(lint): 对齐模板 eslint 依赖版本 fix #14904
  package.json
  packages/eslint-config-taro/package.json
  packages/taro-platform-harmony-hybrid/src/api/apis/open-api/settings/getSetting.ts
  packages/taro-platform-harmony-hybrid/src/api/apis/open-api/settings/openSetting.ts
  packages/taro-runtime/src/dom-external/node.ts
  packages/taro-runtime/src/interface/event-target.ts
  pnpm-lock.yaml
Labels: A-eslint

#15230 fix: 修正app的onShow/onHide页面路径信息
  packages/taro-router/src/router/mpa.ts
  packages/taro-router/src/router/spa.ts
Labels: question, A-router, T-h5

#15283 fix(h5): 修复 flushSync 导致低版本 react 抛出错误
  packages/taro-components-library-react/src/component-lib/reactify-wc.ts
  packages/taro-components-library-react/src/react-component-lib/createOverlayComponent.tsx
  packages/taro-components-library-react/src/react-component-lib/utils/attachProps.ts
Labels: T-h5
