Repository NervJS/taro, pull requests merged in 2024-03, with the labels that each got.

#15316 fix: app.config 缓存路径错误
  packages/taro-webpack5-runner/src/webpack/BaseConfig.ts
Labels: T-h5

#14987 fix(component): 解决 preventDefault 引起的页面无法滚动的问题
  packages/taro-components/src/components/movable-area/movable-view.tsx
Labels: A-components, T-h5

#15319 Feat/canvas
  packages/taro-platform-harmony/src/apis/base/system.ts
  packages/taro-platform-harmony/src/apis/canvas/index.ts
  packages/taro-platform-harmony/src/components/components-harmony-ets/canvas.ets
  packages/taro-platform-harmony/src/runtime-ets/bom/window.ts
  packages/taro-platform-harmony/src/runtime-ets/dom/element/canvas.ts
  packages/taro-platform-harmony/src/runtime-ets/dom/element/element.ts
  packages/taro-platform-harmony/src/runtime-ets/dom/element/index.ts
  packages/taro-vite-runner/src/harmony/template/render.ts
Labels: T-harmony, V-4

#15349 fix: 各端小程序，在层级太深的情况下会生成 Taro 的自定义组件，导致一般的选择器字符会查询不到对应的元素
  packages/taro-components-advanced/src/components/virtual-list/index.ts
  packages/taro-components-advanced/src/components/virtual-list/react/index.ts
  packages/taro-components-advanced/src/components/virtual-list/react/list.ts
  packages/taro-components-advanced/src/components/virtual-list/vue/list.ts
  packages/taro-components-advanced/src/components/virtual-waterfall/index.ts
  packages/taro-components-advanced/src/components/virtual-waterfall/react/index.ts
  packages/taro-components-advanced/src/components/virtual-waterfall/react/waterfall.ts
  packages/taro-components-advanced/src/components/virtual-waterfall/vue/waterfall.ts
Labels: N-doc_needed
